web/migrations/*
*.pyc
.env
.db_env
.DS_Store
web/app/static/js/bundled/*
web/app/irsystem/irhelpers/data/*
redis-data/*
redis-backup/*
redis-app/filtered-tokenized/*
redis-app/data/*
redis-app/tokenized/*
redis-app/nltk/*
redis-app/wordset/*
redis-app/venv/*
redis-app/filtered-tokenized.zip
